* {
  color: var(--joplin-color);
  background-color: var(--joplin-background-color);
  margin: 0px;
  border-radius: 3px;
  font-family: Avenir, Arial, sans-serif;
}

#joplin-plugin-content {
  width: 250px;
  height: 200px;
}

#note-title {
  padding-bottom: 10px;
}

.note-dialog {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}

.note-summarize-config {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-height: 180px;
  overflow-y: scroll;
}

.note-summarized-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 66.66%;

  height: 100%;
}

.summarized-note-content {
  max-height: 400px;
  width: 95%;
  overflow-y: scroll;
}

.summary-radio-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}

.note-title-container {
  display: flex;
  flex-direction: column;
}

.note-title-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;
}

#ok {
  background-color: blue;
}