.summarization-ai-panel {
    background-color: burlywood;
}

.summarization-ai-body {
    color: green;
}

.notebook-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.note-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-left: 20px;
}