.summarization-ai-panel {
  background-color: burlywood;
}

.summarization-ai-body {
  color: green;
}

.notebook-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.note-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin: 0 0 5px 20px;
}

/* Bubble menu */
.bubble-menu {
  background-color: red;
  border: 1px solid green;
  border-radius: 0.7rem;
  display: flex;
  padding: 0.2rem;

  button {
    background-color: unset;

    &:hover {
      background-color: yellow;
    }

    &.is-active {
      background-color: blue;

      &:hover {
        background-color: orange;
      }
    }
  }
}

/* Floating menu */
.floating-menu {
  display: flex;
  background-color: var(--gray-3);
  padding: 0.1rem;
  border-radius: 0.5rem;

  button {
    background-color: unset;
    padding: 0.275rem 0.425rem;
    border-radius: 0.3rem;

    &:hover {
      background-color: var(--gray-3);
    }

    &.is-active {
      background-color: var(--white);
      color: var(--purple);

      &:hover {
        color: var(--purple-contrast);
      }
    }
  }
}
